<div class="sidebar">
  <div class="sideTop">
    <h2><a href='/profile/profile'>hey check out your userpage</a></h2>
    <h2><a href='/'>add more</a></h2>
  </div>
  <div class="sideBottom">
  </div>
</div>
