<% include ./partials/boilerplate %>


  <form id='findRecipe' method="POST" action='recipes/show-recipes'>
    <input type='text' name='ingQuery' placeholder='ingredients' />
    <input type='submit' value='Search by Ingredient!' />
  </form>



<% include ./partials/end %>
