.body{
  width: inherit;
  height: 400px;
  position: absolute;
}
.navbar{
  height:10%;
  position: fixed;
  width: 100%;
  background-color: lightblue;
  border: 1px solid black;
  z-index: 0;
}
.sidebar{
  position: fixed;
  right:0;
  top: 10%;
  width: 30%;
  background-color: lightblue;
  height: 90%;
  border: 1px solid black;
}
.recipe{
  background-color: lightyellow;
}
.spacer{
  height: 10%;
  width: 100%;
  position: fixed;
}
.viewport{
  position: fixed;
  top:10%;
}
