.body{
  width: inherit;
  height: 400px;
  position: absolute;
}
.navbar{
  height:10%;
  position: fixed;
  width: 100%;
  background-color: lightblue;
  border-bottom: 1px solid black;
  z-index: 0;
  text-align: center;
}
.sidebar{
  position: fixed;
  right:0;
  top: 10%;
  width: 30%;
  background-color: lightblue;
  height: 90%;
  border-left: 1px solid black;
  text-align: center;
}
.recipe{
  background-color: lightyellow;
  text-align: center;
}
.spacer{
  height: 10%;
  width: 100%;
  position: fixed;
}
.viewport{
  position: fixed;
  top:10%;
  text-align: center;
}
